/* to set the alignment of pickerInput dropdowns */
/* boostrap 3 */
.dropdown-menu.open {
  width: 100%;
}
/* boostrap 4 and 5 */
.dropdown-menu.show {
  width: 100%;
  overflow: auto;
}

/* Place check-mark on left side of text */
.bootstrap-select.show-tick .dropdown-menu li.selected a span.check-mark {
  position: relative;
  visibility: visible;
  top: 0;
  right: 5px;
  opacity: 1;
}

.bootstrap-select.show-tick .dropdown-menu li a span.check-mark {
  visibility: hidden;
  display: inline-block;
  min-width: 0.8em;
}
