.teal-widgets.output-modal {
  display: flex;
  justify-content: center;
}

.teal-widgets.output-modal .modal {
  --bs-modal-width: 100%;
  width: auto;
  left: auto;
}

.teal-widgets.output-modal > .modal {
  height: max-content;
}

.teal-widgets.output-modal .modal-body {
  max-width: 90vw;
  max-height: 70vh;
}

.teal-widgets.table-content,
.teal-widgets.table-modal-content {
  overflow: auto;
}

.teal-widgets.settings-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
