.teal-widgets.standard-layout > .standard-layout-output .card {
  padding: 0;
}

.teal-widgets.standard-layout.has-encodings
  .bslib-sidebar-layout
  > .sidebar
  > .sidebar-content {
  padding-top: 2rem;
}

.teal-widgets.button-click-observer .modal-header {
  --bs-modal-header-padding: 1rem;
}

.teal-widgets.button-click-observer .modal-body {
  padding: 0 1.5rem;
}

.teal-widgets.standard-layout .bslib-mb-spacing {
  margin-bottom: 0;
}

/* TODO: Bad implementation, this is because white well is called inside standard layout. */
.teal-widgets.standard-layout .standard-layout-output > .well {
  border: none;
}
.teal-widgets.standard-layout .standard-layout-output > .well-sm {
  padding: 1rem;
}
.teal-widgets.standard-layout-wrapper {
  padding: 0;
}
