.teal-widgets code {
  --bs-code-color: #c7254e;
  background-color: #f9f2f4;
}

.teal-widgets .bootstrap-select > .dropdown-toggle {
  background: var(--bs-white);
  border: solid 1px #adadad;
}

.teal-widgets .dropdown-menu {
  --bs-dropdown-padding-y: 0.25rem;
}

.teal-widgets .dropdown-item {
  --bs-dropdown-item-padding-y: 0.2rem;
}
.teal-widgets .btn {
  --bs-btn-padding-x: 1em;
  --bs-btn-padding-y: 0.5em;
}

.teal-widgets.plot-modal > .modal {
  height: max-content;
}

.teal-widgets.plot-modal .modal-body {
  max-width: 90vw;
  max-height: 70vh;
  overflow: scroll;
}

.modal-footer {
  padding: 1rem;
}

.plot-settings-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.plot-settings-buttons a {
  color: black;
}

.plot-settings-buttons i {
  margin: 0 0.5rem;
}

.teal-widgets.standard-layout > .standard-layout-output .card {
  padding: 0;
}

.teal-widgets.standard-layout.has-encodings
  .bslib-sidebar-layout
  > .sidebar
  > .sidebar-content {
  padding-top: 2rem;
}


.teal-widgets.button-click-observer .modal-header {
  --bs-modal-header-padding: 1rem;
}

.teal-widgets.button-click-observer .modal-body {
  padding: 0 1.5rem;
}

.teal-widgets.standard-layout .bslib-mb-spacing {
  margin-bottom: 0;
}

/* TODO: Bad implementation, this is because white well is called inside standard layout. */
.teal-widgets.standard-layout .standard-layout-output > .well{
  border: none;
}

.teal-widgets.standard-layout-wrapper {
  padding-right: 0;
}
