.draggableBuckets {
  display: block;
  gap: 1rem;
  margin: 2px;
}

.elements {
  display: flex;
  gap: 0.5rem;
  min-width: 2rem;
  min-height: 2rem;
  margin: 2px;
}

.element {
  background-color: hsl(0, 0%, 95%);
  border: solid 1px darkgrey;
  border-radius: 3px;
  cursor: grab;
  padding: 0px 1px 1px 1px;
}

.bucket {
  display: flex;
  gap: 0.5rem;
  min-width: 2rem;
  min-height: 2rem;
  margin: 2px;
}
