/* teal.widgets panel css */

.panel-title {
    font-size: 14px;
} /* same as everywhere else */

.panel-body {
    background-color: #f5f5f5;
} /* same as panel-title */

.inline {
    display: inline;
}
