.pinned {
  position: sticky;
  top: 5px;
}

.pin-container {
  overflow: visible;
}

.pin--inactive {
  display: inline;
  position: absolute;
  left: 20px;
  top: 2px;
  z-index: 2;

  color: gray;
  cursor: pointer;
}

.pin--inactive:hover {
  color: lightblue;
}

.pin--active {
  display: inline;
  position: absolute;
  left: 20px;
  top: 2px;
  z-index: 2;

  color: red;
  cursor: pointer;
  z-index: 2;
}
